PORT=5001
MONGO_URI=mongodb+srv://tarun:tarunn@krutanic.10kcydn.mongodb.net/test?retryWrites=true&w=majority&appName=krutanic
DEFAULT_SMTP_HOST=smtp.gmail.com
DEFAULT_SMTP_PORT=587
DEFAULT_SMTP_SECURE=false
