PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smartwarmup
JWMAILBLASTER_ENCRYPTION_KEY=your_key_here

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here

# Default SMTP Settings (Fallback if not provided per account)
DEFAULT_SMTP_HOST=smtp.gmail.com
DEFAULT_SMTP_PORT=465

# Default IMAP Settings (Fallback if not provided per account)
DEFAULT_IMAP_HOST=imap.gmail.com
DEFAULT_IMAP_PORT=993
